{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Me connecter  {{ parent() }}{% endblock %}
{% block h1 %}
    <h1>
        Connexion à mon espace
    </h1>
    <p>
        Votre espace vous permet de consulter vos informations concernant la Cité de la Musique de Marseille,
        connaître votre emploi du temps et transmettre des informations.
    </p>
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <form method="post" class="form-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="line">
                <label for="inputUsername">Nom utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
            </div>
            <div class="line">
                <label for="inputPassword">Mot de passe</label>
                <div class="password-see">
                    <input type="password" name="password" id="inputPassword" required>
                    <span class="btn-see-password icon-vision"></span>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="line">
                <div id="forget"></div>
            </div>

            <div class="form-button">
                <button class="btn btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}