@import "./split/planning/classe";

.classe.full{
  opacity: 0.7;
}

.classe.active{
  opacity: 1;

  &:hover{
    transform: translateX(0);
  }
}

.txt-danger{
  color: var(--danger);
}

.toolbar{
  & > .item.select{
    width: 100%;
  }
}

.level-add-eleve{
  @include flex(row, flex-start, flex-end);
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.classe-eleves{
  .eleve{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: initial;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid var(--greyShadow);
    padding-bottom: 24px;

    &:hover{
      opacity: 1;
    }
  }

  .eleve-status-0, .eleve-status-2, .eleve-status-1, .eleve-status-3{
    .status{
      cursor: initial;
      background: transparent;
      box-shadow: none;

      &:hover{
        transform: scale(1);
      }
    }
  }

  .eleve-status-disabled{
    opacity: 0.6;
    &:hover{
      opacity: 0.6;
    }
  }
}

.eleves{
  .col-1{
    opacity: .9;
  }
}

.eleve-infos{
  margin-bottom: 8px;
  .given{
    color: var(--warning);

    [class^="icon-"]{
      display: inline-block;
      margin-right: 2px;
    }
  }
}

.eleve-levels{
  font-size: 15px;
  opacity: 0.8;

  .status{
    [class^="icon-"]{
      display: inline-block;
      margin-right: 4px;
      transform: translateY(0px);
      font-size: 12px;
      opacity: 0.6;
    }
  }
}

.eleve-place{
  font-size: 14px;
  opacity: 0.8;
  width: 100%;
  text-align: right;
  margin-top: 8px;
}

.eleve-place-status{
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50px;
  margin-bottom: 4px;
}

.actions-level{
  @include flex(row, flex-end, flex-end);
  flex-wrap: wrap;
  width: 100%;
  margin-top: 8px;

  & > div{
    font-size: 14px;
    padding: 6px 8px;
    border-radius: 10px;
    cursor: pointer;
    //min-width: 60px;
    text-align: center;
    box-shadow: 0 2px 5px var(--color0Shadow);

    &:not(.actions-admin){
      opacity: 0.8;

      &:hover{
        opacity: 1;
      }
    }

    &:not(:last-child){
      margin-right: 4px;
    }
  }

  .monter{
    background: var(--color1);
  }

  .garder{
    background: var(--color2);
  }

  .stop{
    margin-top: 8px;
  }

  .donner{
    background: var(--warningShadow2);
    &:hover{
      background: var(--warningShadow);
    }
  }

  .modifier, .disabled, .dispensed{
    background: var(--grey);
  }

  & > div.loader-element{
    width: calc(100% - 24px);
    box-shadow: none;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .actions-admin{
    @include flex(row, flex-start, flex-start);
    box-shadow: none;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 8px;

    & > *{
      border-radius: 150px;
      width: 33px; height: 33px;

      [class^="icon-"]{
        display: inline-block;
        transform: translateY(2px);
      }

      &:not(:last-child){
        margin-right: 4px;
      }
    }

    .disabled, .dispensed{
      background: var(--greyShadow);

      &:hover{
        background: var(--grey);
      }
    }
  }
}

.classe-infos{
  .infos{
    .time{
      display: none;
    }

    .time, .total{
      text-align: left;

      [class^="icon-"]{
        margin-left: 0;
        margin-right: 4px;
      }
    }
  }
  .infos, .infos-next{
    width: auto;
  }

  .infos-next{
    .infos-title{
      @include fontSemibold();
    }
  }

  .separator{
    margin: 0 12px;
  }
}

.tmCours{
  border: 1px solid var(--fond);
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 12px 8px 0 8px;
  border-radius: 4px;
  box-shadow: 0 5px 10px var(--greyShadow);
  background-color: var(--alpha);

  & > .name{
    opacity: 0.8;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--fond);
  }
}

.eleves{
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
}

.eleve{
  width: 100%;
}

.liste{
  width: 100%;
}

.liste-1{
  .tmCours{
    width: calc(100% - 16px);
    margin-right: 0;
    margin-bottom: 0;
  }
}

.name-header{
  display: none;
}

.eleve-place-status-1{
  background-color: var(--warningShadow);
}
.eleve-place-status-2{
  background-color: var(--primaryShadow);
}
.eleve-place-status-3{
  background-color: var(--dangerShadow);
}

.name-teacher{
  margin-top: 4px;
  margin-left: 18px;
  font-size: 14px;
  opacity: 0.7;
}

.title-orientation{
  display: block;
  @include fontSemibold();
  color: var(--primary);
  margin-bottom: 8px;
  width: 100%;

  & + p{
    display: block;
    opacity: 0.8;
    margin-bottom: 8px;
  }
}

.choice-possibilities{
  .title-orientation{
    color: var(--txt);
  }
}


.choice-title{
  width: 100%;
  @include fontSemibold();
  margin-bottom: 12px;
}

.choice-classe{
  width: 100%;
  @include flex(row, stretch, flex-start);
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--grey);

  .choice{
    width: 100%;
    margin-bottom: 12px;

    .infos{
      width: calc(100% - 20px - 18px);
      font-size: 14px;

      .time, .total{
        display: block;
        margin-top: 4px;
        opacity: 0.7;

        [class^="icon-"]{
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  }

  .choice-select{
    cursor: pointer;
    border: 1px dashed var(--grey);
    background-color: var(--alpha);
    transition: all 0.2s ease-in-out;
    padding: 12px 8px;
    border-radius: 4px;

    &:hover{
      border-style: solid;
      border-color: var(--primary);
    }

    &.active{
      border-style: solid;
      border-color: var(--primary);
      color: var(--alpha);
      background-color: var(--primary);
    }
  }
}
//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .liste{
    @include flex(row, stretch, flex-start);
    flex-wrap: wrap;
    width: 100%;

    .eleve{
      @include flex(row, flex-start, flex-start);
    }
  }
  .eleve-infos{
    margin-bottom: 0;
  }
  .eleve-levels {
    margin-left: 0;
    margin-right: 12px;

    .status{
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;

      .icon-dot{
        opacity: 0.3;
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }

  .eleve-place{
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    margin-top: 0;
    text-align: left;

    .eleve-place-status{
      margin-right: 8px;
      min-width: 100px;
      margin-bottom: 0;
    }
  }

  .actions-level{
    margin-top: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .name-header{
    @include flex(row, center, flex-start);
    text-transform: uppercase;
    color: var(--grey2);
    width: 100%;
    padding: 12px;
  }

  .name-header, .eleves{
    .col-1{
      width: calc(100% - 74% - 12px);
      margin-right: 12px;
    }
    .col-2{
      width: calc(20% - 12px);
      margin-right: 12px;
    }
    .col-3{
      width: calc(27% - 12px);
      margin-right: 12px;
    }

    .col-4{
      width: 27%;
    }
  }

  .tmCours{
    width: 100%;
    margin-right: 0;

    .eleves{
      flex-direction: column;

      .eleve{
        width: 100%;
        margin-bottom: 0;
        padding: 8px 0;

        &:hover{
          background-color: var(--greyShadow);
        }
      }

      .eleve:nth-child(odd){
        margin-right: 0;
      }
    }
  }

  .choice-classe {
    .choice {
      width: calc(33% - 26px);
      margin-right: 12px;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .actions-level{
    .stop{
      margin-top: 0;
    }
  }
}

