@import "../../../vars/vars";

.toolbar{
  .filter-search{
    margin-left: 0;

    .filter{
      width: 50%;
    }

    .filter:nth-child(1){
      .dropdown-btn{
        border-radius: 3px 0 0 3px;
      }
    }

    .filter:nth-child(2){
      .dropdown-btn{
        border-right: 1px solid var(--grey);
        border-radius: 0 3px 3px 0;
      }

      .dropdown-items{
        flex-direction: column;

        .item{
          width: calc(100% - 24px);
        }
      }
    }

    .search{
      width: 100%;
      margin-top: 12px;
    }
  }
  .dropdown-items{
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;

    .item{
      @include flex(row, flex-start, flex-start);
      width: 20%;

      input{
        width: 16px;
        margin-right: 4px;
        cursor: pointer;
      }

      label{
        cursor: pointer;
      }
    }
  }

  .filters-items-checked {
    & > .item{
      position: relative;
      transition: all 0.2s ease-in-out;

      input{
        display: none;
      }

      label{
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      [class^="icon-"]{
        display: inline-block;
        font-size: 8px;
        padding-left: 8px;
        font-weight: 600;
        cursor: var(--danger);
      }

      &:before{
        content: '';
        position: absolute;
        top: 10px; left: 0;
        display: block;
        width: 0;
        height: 1px;
        background: var(--grey);
        transition: all 0.2s ease-in-out;
      }

      &:hover{
        opacity: 0.7;

        &:before{
          width: 100%;
        }
      }
    }
  }
}

.items-booking-eleves{

  .role{
    margin: 4px 0 8px 0;
  }

  .sub{
    .icon-male, .icon-female{
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      font-size: 12px;
    }
  }

  .actions{
    .response{
      border-radius: 4px;
      background: var(--grey);
      margin-right: 12px;
      transition: all 0.2s ease-in-out;

      &.true{
        background: var(--primaryShadow);
      }

      &:hover{
        transform: translateY(-2px);
      }

      .loader-element{
        width: auto; height: auto;
        padding: 8px;
        border-radius: 4px;
        opacity: 0.7;
        min-width: 68px;
      }

      .btn-icon{
        &:hover{
          transform: translateY(0);
        }
      }
    }
  }
}

.role{
  display: inline-block;
  padding: 4px 8px;
  background: var(--primaryShadow);
  border-radius: 4px;
  font-size: 12px;
  opacity: 0.5;
}

.responsable{
  margin-top: 12px;
}

.ticket{
  margin-top: 12px;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar{
    .filter-search{
      width: 100%;

      .filter{
        width: 100px;
      }

      .filter:nth-child(2){
        .dropdown-btn{
          border-radius: 0;
        }
      }

      .search{
        width: calc(100% - 200px);
        margin-top: 0;
      }
    }
  }

  .items-booking-eleves{
    .role{
      margin: 0 0 0 8px;
    }

    .infos{
      align-items: flex-start;

      & > div:first-child{
        width: 30%;
      }

      .responsable{
        width: 35%;
        margin-top: 0;
      }

      .ticket{
        width: 25%;
        margin-top: 0;
      }

      .actions{
        width: 10%;
      }
    }
  }
}