{% extends 'admin/pages/level/template.html.twig' %}

{% set page_title %}Gestion des niveaux des élèves{% endset %}
{% set submenuActive = "Niveaux" %}

{% block main_content %}
    <div id="level" data-role="admin" data-developer="{{ app.user.highRoleCode }}"
         data-is-open-level="{{ isOpenLevel }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
