{% extends 'app/layout/layout.html.twig' %}

{% block title %}Espace Cité de la Musique de Marseille{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block pageMenu %}homepage{% endblock %}

{% block main_content %}
    <header>
        <div class="header">
            <div class="header-title">
                <h1><span>Cité</span> <span>de la musique</span></h1>
                <p class="subtitle">de Marseille</p>
            </div>
            <div class="header-actions">
                <a href="{{ path('app_booking') }}" class="btn btn-default">Réserver un ticket</a>
                <a href="{{ path('app_login') }}" class="btn btn-default">Mon espace</a>
            </div>
        </div>
    </header>
{% endblock %}
